{% extends 'base_layout.html' %}
{% load static from static %}
{% load category %}

{% block content %}
<div class="section">


    <div class="columns">
        <div class="column is-8">
            <div class="box">

                {% if cart_items %}

                <div class="box">

                    {% if chosen_items.count != cart_items.count and  chosen_items.count == 0%}
                    <a href="{% url 'store:cart' %}?action=chosen_all" class="is-size-5">
                        <ion-icon name="stop-outline"></ion-icon>
                        <span class="m-3 is-size-6">Выбрать всё</span>
                    </a>
                    {% endif%}

                    {% if chosen_items.count != 0 %}
                    <a href="{% url 'store:cart' %}?action=remove_all" class="is-size-5">
                        <ion-icon name="checkbox-outline"></ion-icon>
                        <span class="m-3 is-size-6">Отменить всё</span>
                    </a>
                    <a href="{% url 'store:cart' %}?action=delete_all" class="button">
                        <span class="m-3 is-size-6">Удалить</span>
                    </a>
                    {% endif %}

                </div>

                {% endif %}

                {% for item in cart_items %}


                <div class="modal">
                    <div class="modal-background" onclick="toggleModal()"></div>
                    <div class="modal-content">
                        <div class="box has-text-centered">
                            <div class="title">
                                Подтвердите удаление
                            </div>
                            <a href="{% url 'store:cart' %}?action=delete"
                               class="button is-success">Подтвердить</a>
                            <button class="button is-danger" onclick="toggleModal()">Отмена</button>
                        </div>
                    </div>
                    <div class="modal-close is-large" onclick="toggleModal()"></div>
                </div>


                <div class="box">

                    <div class="columns is-vcentered">
                        <div class="column is-1">
                            {% if not item.chosen %}
                            <a href="{% url 'store:cart' %}?chosen=True&pk={{ item.pk }}" class="is-size-5">
                                <ion-icon name="stop-outline"></ion-icon>
                            </a>
                            {% else %}
                            <a href="{% url 'store:cart' %}?not_chosen=True&pk={{ item.pk }}" class="is-size-5">
                                <ion-icon name="checkbox-outline"></ion-icon>
                            </a>
                            {% endif %}
                        </div>
                        <div class="column is-2">
                            <figure class="image is-96x96">
                                <img src="{{item.product.image.url}}" alt="">
                            </figure>
                        </div>
                        <div class="column is-4">
                            <div class="title is-4">{{item.product.name}}</div>
                            <div class="subtitle is-7 has-text-grey">
                                {{item.product.category}}
                            </div>
                            <div class="buttons">
                                {% if user not in item.product.saved.all %}
                                <a href="{% url 'store:cart' %}?action=saved&product={{item.product.pk}}"
                                   class="button">
                                    <ion-icon name="bookmarks-outline"></ion-icon>
                                </a>
                                {% else %}
                                <a href="{% url 'store:cart' %}?action=saved&product={{item.product.pk}}"
                                   class="button is-link">
                                    <ion-icon name="bookmarks-outline"></ion-icon>
                                </a>
                                {% endif %}

                                <button data-pk="{{item.pk}}" onclick="deleteItem(this.dataset.pk)"
                                        class="button is-danger ml-2">
                                    Удалить
                                </button>
                            </div>
                        </div>
                        <div class="column is-2">
                            {{item.total_price}} p.
                        </div>
                        <div class="column">
                            <div class="field has-addons">
                                <div class="control">
                                    <a href="{% url 'store:cart' %}?action=decrement&pk={{item.pk}}">
                                        <button class="button" {% if item.quantity == 1 %} disabled {% endif %}>
                                            <span class="title is-4">-</span>
                                        </button>
                                    </a>
                                </div>
                                <div class="control">
                                    <button class="button" disabled>
                                        {{item.quantity}}
                                    </button>
                                </div>
                                <div class="control">
                                    <a href="{% url 'store:cart' %}?action=increment&pk={{item.pk}}">
                                        <button class="button">
                                            <span class="title is-5">+</span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
        <div class="column">
            <div class="box">
                {% if cart_items %}
                <a href="{% url 'store:create_order' %}" class="button is-success is-fullwidth">
                    Перейти к оформлению
                </a>
                {% endif %}
                <hr>
                <div class="block">
                    <div class="title is-5">Ваши товары</div>
                    <div class="subtitle is-6 ">
                        <span>Товары ( {{ amount }} )</span>
                    </div>
                    <hr>
                    <div class="title is-5 is-flex is-justify-content-space-between">
                        <span>Общая сумма</span>
                        <span>{{ total_sum }} p.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}