{% extends 'base_layout.html' %}
{% load static from static %}
{% load category %}

{% block content %}
<div class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-6">
                <div class="box has-text-centered">
                    <div class="title">
                        Запрос на отмену заказа №{{ order.pk }} был отправлен продавцу
                    </div>
                    <a href="{% url 'store:orders' %}" class="button is-success is-fullwidth">
                        Вернуться к заказам
                    </a>
                    <a href="{% url 'store:home' %}" class="button is-success is-fullwidth">
                        Вернуться на главную
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}